/* *{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
}

body{
  width: 100%;
  height: 100vh;
  overflow: hidden;
  word-wrap: normal;
  background-color: #85FFBD;
background-image: linear-gradient(45deg, #85FFBD 0%, #FFFB7D 100%);
background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);

}

.scan{
  width: 60%;
  height: 50%;
  display: block;
  margin: 10px auto;
  position: relative;
}


.scan div , .scan video{
  /* position: relative !important; 
  height: 50% !important;
  border: none !important;
  box-shadow: none !important;
}

.scan  video{
  border-radius: 10px;
}
.output{
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 25px;
  width: 100%;
  height: auto;
  text-align: center;
  word-wrap: break-word;
}

.heading {
  text-align: center;
  font-size: 40px;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .scan{
    width: 100%;
  }

  .scan div , .scan video{
    height: 100% !important;
  }
} */

